{% load static %}
{% load toString %}
{% load slug %}

{% block content %}
{% endblock %}

<script>
	var member_names = [];
	{% for member in org.members.all %}
	member_names.push("{{member.get_profile}}");
	{% endfor %}

	$( "input" ).autocomplete({
		source: member_names,				
	});
	
		$('textarea[rel*=resizeable1]').autoResize({
		    // On resize:
		    onResize : function() {
		        $(this).css({opacity:0.8});
		    },
		    // After resize:
		    animateCallback : function() {
		        $(this).css({opacity:1});
		    },
		    // Quite slow animation:
		    animateDuration : 300,
		    // More extra space:
			extraSpace:0
		});


	</script>

<div id="new_topic">
	<div id="stylized" class="myform" style="width:550px; height:110%; ">

	{% csrf_token %}
	<h1 >New Message</h1>
							
	<div class="fbbluebox" id="message_sent"  style="display:none; text-align:center;">Message sent successfully.</div>
	<div class="fberrorbox" id="message_error" style="display:none;">You can only message brothers.</div>
	<hr/><br/>
	<div style="position:relative; left:40px;">
	<label>To
	<span class="small">Must be a {{org.member_type}}</span>
	</label>
	<input type="text" class="required" name="topic" id="to" style="font-family: 'trebuchet ms','century gothic',verdana,sans-serif;"/>
	<br/>
	<br/><br/>
	<label>Message 
	<span class="small">What's on your mind</span>
	</label>
	<textarea id="message_body" name="body" rows="6" id="password" rel="resizeable1" style="overflow-y:hidden; font-family: 'trebuchet ms','century gothic',verdana,sans-serif; font-size:12px;"></textarea>
	<br/><br/><br/>
<button style="	background-color: #0066FF; border: 0 none; color: #FFFFFF; cursor: pointer; position:relative;left:79px; bottom:13px; font-size: 11px; font-weight: bold; text-align: center; width: 50px;" class="awesome" onclick="messageValidation();"  >Send</button>
	<br/><br/><br/>
	</div>

	</div>
</div>


<script>


function messageValidation()
{
	var okay = "failure";
 	$.get("{% url brother_validation %}", {'to': $("#to").val()}, function(json){
	okay = json;

	if(okay != "failure")
	{
		$.post('{% url send_message %}', {'message':$('#message_body').val(), 'to':okay});
		$('#message_sent').fadeIn(1500).fadeOut(1500); 
	}
	else
	{
		$('#message_error').fadeIn(1500).fadeOut(1500); 
	}
});	

}
</script>
